apiVersion: apps/v1
kind: Deployment
metadata:
  name: messenger-sync-deployment
  namespace: {{ NAMESPACE }}
  labels:
    app: messenger-sync
spec:
  replicas: {{ SCHULCLOUD_SYNAPSE_SYNCHRONIZATION_REPLICAS|default("1", true) }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      #maxUnavailable: 1
  revisionHistoryLimit: 4
  paused: false
  selector:
    matchLabels:
      app: messenger-sync
  template:
    metadata:
      labels:
        app: messenger-sync
      annotations:
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        runAsNonRoot: true
      containers:
      - name: messenger-sync
        image: {{ SCHULCLOUD_SYNAPSE_SYNCHRONIZATION_IMAGE_NAME }}:{{ SCHULCLOUD_SYNAPSE_SYNCHRONIZATION_IMAGE_TAG }}
        imagePullPolicy: IfNotPresent
        envFrom:
        - configMapRef:
            name: messenger-sync-configmap
        - secretRef:
            name: messenger-sync-secret
        resources:
          limits:
            cpu: {{ SCHULCLOUD_SYNAPSE_SYNCHRONIZATION_CPU_MAX|default("1000m", true) }}
            memory: {{ SCHULCLOUD_SYNAPSE_SYNCHRONIZATION_MEMORY_MAX|default("1Gi", true) }}
          requests:
            cpu: {{ SCHULCLOUD_SYNAPSE_SYNCHRONIZATION_CPU_MIN|default("100m", true) }}
            memory: {{ SCHULCLOUD_SYNAPSE_SYNCHRONIZATION_MEMORY_MIN|default("128Mi", true) }}
