apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: messenger-sync-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: messenger-sync
spec:
  itemPath: "vaults/{{ ONEPASSWORD_OPERATOR_VAULT }}/items/messenger-sync"
