#jinja2: trim_blocks: "True", lstrip_blocks: "True"
apiVersion: v1
kind: Secret
metadata:
  name: messenger-sync-secret
  namespace: {{ NAMESPACE }}
  labels:
    app: messenger-sync
type: Opaque
data:
  # echo -n "VALUE" | base64
  MATRIX_MESSENGER__SECRET: {{ MATRIX_MESSENGER__SECRET | b64encode }}
{% if MATRIX_MESSENGER__SYNC_USER_TOKEN is defined %}
  MATRIX_MESSENGER__SYNC_USER_TOKEN : {{ MATRIX_MESSENGER__SYNC_USER_TOKEN | b64encode }}
{% endif %}
  RABBITMQ_URI: "{{ RABBITMQ_URI }}"

